<div class="four-boxes text-center d-flex justify-content-around container gap-4">
  <div class="box primary-bg p-3">
    <%= image_tag("blog.png", alt: "Early Childhood Center") %>
    <h2 class="text-white ff-bb mb-0 mt-3">Early Childhood Center</h2>
    <button class="btn btn-white mt-3 p-3 w-100">
      <%= link_to "View School Page", "/early-childhood-center", class:"text-white" %>
    </button>
  </div>
  <div class="box primary-bg p-3">
    <%= image_tag("blog.png", alt: "Go Like The Wind Montessori") %>
    <h2 class="text-white ff-bb mb-0 mt-3">Go Like The Wind Montessori</h2>
    <button class="btn btn-white mt-3 p-3 w-100">
      <%= link_to "View School Page", "https://montessori.wlps.net/", class:"text-white", target: "_blank" %>
    </button>
  </div>
  <div class="box primary-bg p-3">
    <%= image_tag("blog.png", alt: "Whitmore Lake Elementary School") %>
    <h2 class="text-white ff-bb mb-0 mt-3">Whitmore Lake Elementary School</h2>
    <button class="btn btn-white mt-3 p-3 w-100">
      <%= link_to "View School Page", "/elementary-school", class:"text-white" %>
    </button>
  </div>
  <div class="box primary-bg p-3">
    <%= image_tag("blog.png", alt: "Whitmore Lake Middle & High School") %>
    <h2 class="text-white ff-bb mb-0 mt-3">Whitmore Lake Middle & High School</h2>
    <button class="btn btn-white mt-3 p-3 w-100">
      <%= link_to "View School Page", "/middle-and-high-school", class:"text-white" %>
    </button>
  </div>
</div>
