<div class="icons_wrapper text-center d-flex justify-content-around container">
  <div class="icon">
    <%= link_to "/blogs" do %>
      <%= image_tag("blog.png", alt: "Blogs", class: "rounded-circle") %>
      <p class="text-white mb-0">Blogs</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "/district-calendar" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Calendar</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "https://jobs.redroverk12.com/org/wlps" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Careers</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "/transportation" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Bus Schedules</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "/ommunity-recreation" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Community Rec</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "/athletics" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Athletics</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "/https://ps.wlps.net/public/home.html" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Powerschools</p>
    <% end %>
  </div>

  <div class="icon">
    <%= link_to "https://payments.efundsforschools.com/v3/districts/56418/" do %>
      <%= image_tag("blog.png", alt: "Calendar", class: "rounded-circle") %>
      <p class="text-white mb-0">Pay Fees</p>
    <% end %>
  </div>
</div>
