<div class="container d-md-flex gap-4 calendar_links">
    <button class="calendar_btn">
        <%= link_to "Board Audits", "/transparency-reporting", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Board Books", "/board-books", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Board Calendars", "/board-calendars", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Board Committees", "/board-committees", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Board Members", "/board-members", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Board Minutes", "/board-minutes", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Board Policies", "https://z2policy.ctspublish.com/luskalbertson/browse/whitmoreset/whitmore/root", class:"text-white ff-b", target: "_blank" %>
    </button>
</div>