<div class="container d-md-flex justify-content-between calendar_links">
    <button class="calendar_btn">
        <%= link_to "Athletic Calendar", "https://whitmorelakeathletics.com/main/calendar", target: "_blank", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Community Recreation Calendar", "/community-recreation-calendar", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "BOE & District Calendar", "/district-calendar", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Main Street Campus Calendar", "/main-street-campus-calendar", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Elementary School Calendar", "/elementary-school-calendar", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Middle & High School Calendar", "/middle-and-high-school-calendar", class:"text-white ff-b" %>
    </button>
</div>