<div class="container d-md-flex justify-content-between calendar_links">
    <button class="calendar_btn">
        <%= link_to "Why Choose WLPS", "/why-choose-wlps", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Community", "/community", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Green Initiatives", "/green-initiatives", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "History", "/history", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "School of Choice", "/school-of-choice", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Staff", "/staff", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Employment", "https://jobs.redroverk12.com/org/wlps", class:"text-white ff-b", target: "_blank" %>
    </button>
</div>