<div class="container d-md-flex gap-4 calendar_links">
    <button class="calendar_btn">
        <%= link_to "About WLCR", "/community-recreation", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Community Pool", "/community-pool", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "WaveMaker Swim School", "/wavemaker-swim-school", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Waves Swim Team", "https://www.gomotionapp.com/team/miwlw/page/home", class:"text-white ff-b", target: "_blank" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Get Involved", "/get-involved-community-recreation", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "WLCR Calendar", "/community-recreation-calendar", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Staff", "/staff", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Employment", "https://jobs.redroverk12.com/org/wlps", class:"text-white ff-b", target: "_blank" %>
    </button>
</div>