<div class="container d-md-flex justify-content-between calendar_links">
    <button class="calendar_btn">
        <%= link_to "Facilities", "/facilities", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Food Service", "/food-service", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Kids Club", "/kids-club", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Special Education", "/special-education", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Technology", "http://wlpstech.weebly.com/", class:"text-white ff-b", target: "_blank" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Transportation", "/transportation", class:"text-white ff-b" %>
    </button>
</div>