<div class="container d-md-flex justify-content-between calendar_links">
    <button class="calendar_btn">
        <%= link_to "Drills", "/drills", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "News & Notes", "#", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "eFunds", "/efunds", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "PeachJar", "/peachjar", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "School Policy Notices", "/school-policy-notices", class:"text-white ff-b" %>
    </button>
    <button class="calendar_btn">
        <%= link_to "Transparency Reporting", "/transparency-reporting", class:"text-white ff-b" %>
    </button>
</div>