<% content_for :title, "Board Books - Whitmore Lake Public Schools | Meeting Agendas & Notes" %>
<% content_for :description, "Access Whitmore Lake Public Schools' Board of Education books, including meeting agendas, notes, and attachments. View records by school year." %>

<div class="board_books">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Board of Education</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "board_of_education_links_bar" %>
    </div>
    <div class="board_books_intro py-4_5">
        <div class="container">
            <h1><span>Board of Education Books</span><span class="text-black"> of Whitmore Lake Public Schools</span></h1>
            <p>Find and review the Whitmore Lake Public Schools Board of Education books by meeting date below. These include agendas, meeting notes, and related attachments.</p>
            <div id="accordion">
                <%
                      school_years = [
                        "WLPS Board Books 2024-2025",
                        "WLPS Board Books 2023-2024",
                        "WLPS Board Books 2022-2023",
                        "WLPS Board Books 2021-2022",
                        "WLPS Board Books 2020-2021",
                        "WLPS Board Books 2019-2020",
                        "WLPS Board Books 2018-2019",
                        "WLPS Board Books 2017-2018",
                        "WLPS Board Books 2016-2017",
                        "WLPS Board Books 2015-2016",
                        "WLPS Board Books 2014-2015",
                        "WLPS Board Books 2013-2014",
                        "WLPS Board Books 2012-2013",
                        "WLPS Board Books 2011-2012"
                    ]
                %>
                <% school_years.each_with_index do |school_year, index| %>
                    <% collapse_id = "collapse#{index}" %>

                    <div class="card bg-transparent border-0 mb-2">
                    <div class="card-header text-white rounded-0 ff-b fw-semibold d-flex justify-content-between">
                        <div>
                            <%= link_to("#{school_year}", "##{collapse_id}", class: "card-link", data: { toggle: "collapse" }) %>
                        </div>
                        <div class="status_icons">
                            <span class="status_icon <%= index == 0 ? 'hide' : 'show' %>">+</span>
                            <span class="status_icon <%= index == 0 ? 'show' : 'hide' %>">-</span>
                        </div>
                    </div>

                    <div id="<%= collapse_id %>" class="collapse mt-3 mb-2 <%= 'show' if index == 0 %>" data-parent="#accordion">                        
                        <% board_books = BoardBook.where(school_year: school_year) %>
                        <% if board_books.any? %>
                            <div>
                                <div class="fw-semibold color-normal">
                                    <% board_books.each_with_index do |board_book, index2| %>                                    
                                        <div class="board_book">
                                            <%= link_to url_for(board_book.pdf), target: "_blank", rel: "noopener" do %>
                                                <%= image_tag "pdf.png", class: "origin" %>
                                            <% end %>
                                            <p class="mb-0 fw-semibold fs-20"><%= board_book.date.strftime("%B %d, %Y") %></p>
                                        </div>                                    
                                    <% end %>
                                </div>
                            </div>
                        <% else %>
                            <div>No board books available.</div>
                        <% end %>
                    </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
