<% content_for :title, "Board Members - Whitmore Lake Public Schools | Meet Our Leadership Team" %>
<% content_for :description, "Get to know the Whitmore Lake Public Schools Board of Education. Meet the dedicated members shaping WLPS's vision and success through leadership and community involvemet." %>

<div class="board_members">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Board of Education</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "board_of_education_links_bar" %>
    </div>
    <div class="board_members_intro py-4_5">
        <div class="container">
            <h1><span>Meet the Whitmore Lake Public Schools</span><span class="text-black"> Board of Education</span></h1>
            <p class="mb-0">
                The Board of Education at Whitmore Lake Public Schools consists of members who work to
                establish a vision for the community. Through meetings and activities our members work hard
                to establish goals, strategies, and actions for achievement. Get to know the members of the board by reading their bios below.
            </p>
            <div class="board_members">
                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("michelle.png", alt: "Michelle Kritzman", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>Michelle Kritzman</h2>
                        <p><b>WLPS Board of Education President</b></p>
                        <p>Serving on the BOE since December 2015, Shelli is currently appointed to BOE Finance, Superintendent's Evaluation and Economic Performance Committees.</p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>Nuclear Medical Physicist at Medical Physics Consultants.</p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p>Married to Jim (March 1997). Mark, Luke and Joey attend Whitmore Lake.</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                "This is a great community and I am excited to play a role in maintaining high
                                academic standards and opportunities for extracurricular activity for all grade levels.
                                I am enthusiastic to continue moving our district forward on a positive path."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                                I have lived in Whitmore Lake over 20 years. I have represented WL on the Parent Advisory Committee at the WISD for seven years
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                Atherton High School (1989) Ferris State University BS in Nuclear Medicine
                                Technology (1993) Wayne State University MS in Radiological Physics (2000) American
                                Board of Radiology Certified Nuclear Medical Physicist.
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:shelli.kritzman@wlps.net"><button class="primary-btn">Email Michelle</button></a>
                        </div>
                    </div>
                </div>

                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("frank.png", alt: "Frank Zolenski", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>Frank Zolenski</h2>
                        <p><b>WLPS Board of Education Vice President</b></p>
                        <p>Has served on the Board since 2020</p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>Marketing Director for Absopure Water Company.</p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p>Wife, Tara, and children Drew and Julia</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                 “There's something very special about our community and schools. I am a
                                 proud graduate of Whitmore Lake and wouldn't have my children any place else."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                                 Serves on the board of Detroit Regional Dollars for Scholars and is an active
                                 supporter of JDRF (formerly Juvenile Diabetes Research Foundation).
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                Graduate of Whitmore Lake High School, Washtenaw Community College
                                Associates Degree, University of Detroit Mercy, Bachelors of Science in Computer Information Systems.
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:Frank.zolenski@wlps.net"><button class="primary-btn">Email Frank</button></a>
                        </div>
                    </div>
                </div>

                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("john.png", alt: "John Meadows Jr.", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>John Meadows Jr.</h2>
                        <p><b>WLPS Board of Education Treasurer</b></p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>Crop Consultant and Dispatcher for Crop Production Service.</p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p>Married to wife, Ramona. Two children, Jamie & Natalie attend WLPS.</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                "Stabilizing and growing our student population is critical to the success of
                                WLPS and will be a top priority for me. I have lived in this community for over 40 years. I
                                was educated and graduated from WLHS. I understand the value of a small school and a personalized education."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                                 For several years I have been involved with WL Junior Football and Cheer, have
                                 worked on many projects for both the football fields and school grounds, and have been
                                 coaching basketball with the community recreation program
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                WLPS alumni. Michigan State University, B.S. in Food Systems Economics and Management.
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:john.meadows@wlps.net"><button class="primary-btn">Email John</button></a>
                        </div>
                    </div>
                </div>

                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("lisa.png", alt: "Lisa McCully", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>Lisa McCully</h2>
                        <p><b>WLPS Board of Education Secretary</b></p>
                        <p>Has served on the Board since 2014</p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>Salon owner, stylist</p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p>Spouse, Dennis, 1 son, Max a senior 18 yrs, 1 dog and 2 cats</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                "I want to help make WLPS the best it can be for our kids. I see so much
                                potential in our community and want to help get the word out how great we are."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                                Has lived in Whitmore Lake for over 20 years and is dedicated to community growth and downtown development.
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                Graduate of Bentley High School and Sally Esser School of Cosmetology
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:lisa.mccully@wlps.net"><button class="primary-btn">Email Lisa</button></a>
                        </div>
                    </div>
                </div>

                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("lee.png", alt: "Lee Cole", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>Lee Cole</h2>
                        <p><b>WLPS Board of Education Trustee</b></p>
                        <p>Has served on the Board since 2017</p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>
                                Mostly retired but prior taught English, served as a school psychologist, 14
                                years as an elementary principal, and 5 years as a Headmaster at a private school. And
                                since 1972 had a private practice as a psychologist. Has also taught at MSU and EMU and served in the Marine Corps.
                            </p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p>Married to Dawn. Two sons: Christopher, who passed away June 12, 2021 and
                            Jason, married to Anna who lives in Scio Township. Three grandkids: Ian, Abigail, and Dylan.</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                "It is with a sense of humor and humility to be reelected to the WLPS BOE. It
                                is a hard-working, goal-oriented board that has student welfare and academic/life success at the forefront at all times."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                               Has lived in Whitmore Lake since 1998, works with veterans when they return
                               from deployment, and still works in a clinical practice, and Lifestyle Consultant in nutrition and fitness.
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                Graduated from Flint Southwestern HS Graduated from University of Michigan with an AB Masters from MSU in education and psychology. Certification in therapy technique
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:lee.cole@wlps.net"><button class="primary-btn">Email Lee</button></a>
                        </div>
                    </div>
                </div>

                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("lindsey.png", alt: "Lindsey Collins", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>Lindsey Collins</h2>
                        <p><b>WLPS Board of Education Trustee</b></p>
                        <p>Has served on the Board since 2025</p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>Client Service Manager, Skyward Financial Advisors</p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p> Husband, Shane, married in March 2009. Children Nolan (14), Ryan (12), and dog Izzo (7).</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                "After attending school board meetings for the past several years, I am
                                excited to finally be a member of the board and have the opportunity to contribute to
                                supporting our schools, the staff, the community, and especially the children of WLPS."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                                Served as WLPS PTO president for 3 years. Current board, WLFEE President.
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                Portage Central High School, class of 2001. Kalamazoo Valley Community College, Associate's Degree.
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:lindsey.collins@wlps.net"><button class="primary-btn">Email Lindsey</button></a>
                        </div>
                    </div>
                </div>

                <div class="board_member d-flex mt-4" style="background-image: url('/assets/login_bg.png');">
                    <div class="board_member_image">
                        <%= image_tag("kelly.png", alt: "Kelly Henning", class: "origin w-md-full") %>
                    </div>
                    <div class="board_member_info px-4">
                        <h2>Kelly Henning</h2>
                        <p><b>WLPS Board of Education Trustee</b></p>
                        <p>Has served on the Board since 2025</p>
                    </div>
                    <div class="board_member_actions d-flex">
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "briefcase_note">
                            <%= image_tag("briefcase.png", alt: "Briefcase", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "heart_note">
                            <%= image_tag("heart.png", alt: "heart", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "quote_note">
                            <%= image_tag("quote.png", alt: "quote", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg" data-note = "star_note">
                            <%= image_tag("star.png", alt: "star", class: "origin") %>
                        </div>
                        <div class="board_member_action_icon flex-1 primary-bg show_note" data-note = "cap_note">
                            <%= image_tag("cap.png", alt: "cap", class: "origin") %>
                        </div>
                    </div>
                    <div class="board_member_social px-4">
                        <div class="briefcase_note board_member_note" style="display: none;">
                            <p>Vice President of Operations, Anesthesia Associates of Ann Arbor</p>
                        </div>
                        <div class="heart_note board_member_note" style="display: none;">
                            <p>Husband Jason, sons Christian (Class of 2013) and wife Sybil, Caleb (class of 2018), and Cole (class of 2020), all WLPS grads; and a cat named Julius.</p>
                        </div>
                        <div class="quote_note board_member_note" style="display: none;">
                            <p>
                                "I am passionate about ensuring small town schools offer the same academic
                                advantages that larger systems can offer. I have 30 years of operations and business
                                development experience and am confident I have much to offer as we navigate through difficult economic times."
                            </p>
                        </div>
                        <div class="star_note board_member_note" style="display: none;">
                            <p>
                                President Community Scholarship Fund, past Secretary of Touchdown Club, past Scout Leader, Youth Ministry at Church.
                            </p>
                        </div>
                        <div class="cap_note board_member_note">
                            <p>
                                University of Nebraska - Journalism; National-Louis University - MBA
                            </p>
                        </div>
                        <div class="email_board_member">
                            <a href="mailto:kelly.henning@wlps.net"><button class="primary-btn">Email Kelly</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
