<% content_for :title, "Whitmore Lake Public Schools: Bond Updates for School Safety and Community Programs" %>
<% content_for :description, "Whitmore Lake Public Schools is utilizing taxpayer dollars from the 2018 Sinking Fund and 2019 Community Recreation Millage to enhance school safety and education in the community. Stay informed on bond updates and initiatives for a better Whitmore Lake!" %>

<div class="bond_updates text-black">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">News & Info</h2>
    </div>
    <div class="py-4_5">
        <div class="container text-center">
            <h1>WLPS Millage Updates</h1>
            <p>
                WLPS is results-driven, committed to using tax-payer dollars as efficiently and effectively as
                possible to meet the needs of the school district and community as demonstrated by use of the
                2018 Sinking Fund and 2019 Community Recreation millage.
            </p>
            <div class="d-flex gap-4 justify-content-center">
                <button class="primary-btn mt-3">
                    <%= link_to "Sinking Fund Updates", "https://www.wlps.net/bond-updates/#about-sinking-fund", class:"text-white", target: "_blank" %>
                </button>
                <button class="primary-btn mt-3">
                    <%= link_to "WLCR Millage Updates", "https://www.wlps.net/bond-updates/#about-millage", class:"text-white", target: "_blank" %>
                </button>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container d-flex gap-4 align-items-center">
            <div>
                <%= image_tag("sinking_fund_logo.png", alt: "Sinking Fund", class: "origin") %>
            </div>
            <div>
                <h2 class="text-black">About the Sinking Fund Millage</h2>
                <p class="mb-0">On August 7, 2018, the Whitmore Lake community supported the renewal of the 2016 three-year 1.0 mill Sinking Fund and extended it for 10 more years. It was estimated to produce approximately $350,000 per year allowing the district to check many needs off the list while protecting the General Fund budget. The Sinking Fund has since eroded to 0.9458 mills.</p>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container d-flex gap-4">
            <div class="flex-1">
                <%= image_tag("technology.png", alt: "Technology") %>
            </div>
            <div class="flex-1">
                <h2 class="text-black">Technology</h2>
                <p class="mb-4">
                    The Sinking Fund has been essential to providing and maintaining district and classroom
                    technology necessary to meet our student's learning needs. It allowed our district to go 1-1
                    preparing us for COVID remote learning and funded a technology replacement plan to ensure
                    we are proactively providing high-quality technology to aid in student learning and meeting our
                    staff's instructional needs year after year.
                </p>
                <p class="fw-semibold">Highlights include:</p>
                <ul>
                    <li>Smart Boards in every classroom</li>
                    <li>Updated and high-quality computers for teachers and staff</li>
                    <li>Student devices: every student and/or classroom are provided age-appropriate devices to aid in learning</li>
                    <li>Digital signs at all campuses: broken signs replaced with high-quality digital signs to keep the school community informed</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container d-flex gap-4">
            <div class="flex-1">
                <h2 class="text-black">Safety and Security</h2>
                <p class="mb-4">Safety and Security is paramount and the Sinking Fund has been essential in making integral safety and security upgrades.</p>
                <p class="fw-semibold">Highlights include:</p>
                <ul>
                    <li>Redesigned Middle/High School entrance requiring visitors to enter into a vestibule instead of accessing the building right upon entry</li>
                    <li>New security camera system installed district-wide</li>
                    <li><a href="https://lockoutusa.com/products/smartboot-system/" class="text-red">Smartboot Security & Alert System</a> installed district-wide to improve classroom and building lockdown security</li>
                </ul>
            </div>
            <div class="flex-1">
                <%= image_tag("safety_security.png", alt: "Technology") %>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container d-flex gap-4">
            <div class="flex-1">
                <%= image_tag("facility_repair_maintenance.png", alt: "Facility Repair & Maintenance") %>
            </div>
            <div class="flex-1">
                <h2 class="text-black">Facility Repair & Maintenance</h2>
                <p class="mb-4">
                    We want the quality of our school facilities to match the quality of education we know we provide.
                    We know it has a positive impact on learning, on teacher retention, and on property values.
                    According to the National Bureau of Economic Research, for every $1 spent on school funding, property values increase by nearly $20.
                    We have put the Sinking Fund to good work getting the biggest impact for the dollars available.
                </p>
                <p class="fw-semibold">Highlights include:</p>
                <ul>
                    <li>Select district-wide HVAC & mechanical repairs</li>
                    <li>Select district-wide internal & external lighting repairs</li>
                    <li>District-wide drinking fountain bottle filler stations</li>
                    <li>WLES east parking lot replacement</li>
                    <li>WLES playground: while we received grant funding and large community donations, the project still required a large amount of Sinking Fund dollars to address drainage issues and to help in purchasing and installing playground equipment</li>
                    <li>Elementary walk-in freezer</li>
                    <li>WLHS track re-striping</li>
                    <li>WLHS gym floor refinishing</li>
                    <li>WLHS baseball scoreboard & batting cage</li>
                    <li>WLHS shot put & discus area replacement</li>
                    <li>WLHS parking lot select area replacement</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="primary-bg text-white py-4_5">
        <div class="container">
            <h2 class="text-white">Future Projects</h2>
            <p class="text-white">The district will continue to leverage Sinking Fund dollars to maintain district facilities as effectively as possible. Upcoming priorities include:</p>
            <ul class="mb-0">
                <li>Technology: Student and staff devices and instructional technology replacement plan</li>
                <li>Safety & Security: Complete Smartboot Security & Alert System Installation</li>
                <li>Facility Repair & Maintenance: WLHS Theater bleacher seating replacement</li>
            </ul>
        </div>
    </div>
    <div class="text-center py-4_5" style="background-image: url('/assets/login_bg.png');">
        <h2 class="text-black">Financial Transparency</h2>
        <button class="primary-btn">
            <%= link_to "Annual Reports", "https://www.wlps.net/transparency-reporting/", class:"text-white", target: "_blank" %>
        </button>
        <h2 class="text-black mt-3 mb-0">How is the Sinking Fund Spent in Each Priority Area Since 2018?</h2>
        <div class="financial_transparency">
            <h2 class="text-black safety">Safety & Security:<br>21%</h2>
            <h2 class="text-black facility">Facility Repair &<br>Maintenance: 34%</h2>
            <h2 class="text-black technology">Technology:<br>45%</h2>
            <%= image_tag("financials.png", alt: "Financial Transparency", class: "origin") %>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h2 class="text-black text-center mb-4">Gallery</h2>
            <div id="imageGallery" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner text-center">
                    <% gallery_images_1.each_with_index do |img, idx| %>
                        <div class="carousel-item <%= 'active' if idx.zero? %>">
                            <%= image_tag img, alt: File.basename(img, '.*').tr('_-', ' ').capitalize, class: "origin" %>
                        </div>
                    <% end %>
                </div>

                <button class="carousel-control-prev" type="button" data-target="#imageGallery" data-slide-to="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                        <%= image_tag("prev.png", alt: "Previous", class: "origin") %>
                    </span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#imageGallery" data-slide-to="next">
                    <span class="carousel-next-icon" aria-hidden="true">
                        <%= image_tag("next.png", alt: "Next", class: "origin") %>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container d-flex gap-4">
            <div>
                <%= image_tag("wlcr_millage_logo.png", alt: "WLCR Millage Logo", class: "origin") %>
            </div>
            <div>
                <h2 class="text-black">About the Community Rec Millage</h2>
                <p>Whitmore Lake Community Recreation is committed to providing residents of all ages in Whitmore Lake, and the surrounding areas, with affordable opportunities to get active, learn new skills, make new friends, and have fun. They are also committed to operating at no loss, ensuring the department and its facilities are not a burden to the local school district. The Community Recreation millage was at a rate of 0.6200 mills when originally passed in 2003. It had eroded to 0.5883 mills in 2018/2019. The erosion of the millage rate and aging facilities made the “no loss” commitment extremely challenging. For reference, in 2019, more than $160,000, 80% of the original millage, was spent on utility and chemical costs for the pool. The Board of Education approved an increase to 1.0 mill for 10 years, and the voters supported it on August 6, 2019. It has currently eroded to 0.9601 mills in 2023. The increase brings in an average $174,000 additionally annually. We communicated to voters the additional funds would be used to:</p>
                <ul>
                    <li>Reduce energy use</li>
                    <li>Increase community access & use</li>
                    <li>Repair & maintain facilities</li>
                </ul>
            </div>
        </div>
        <div class="container text-center mt-5">
            <h2 class="text-black">Project Overview</h2>
            <p>While COVID, inflation and staffing changes changed our initial timeline, we have completed the following projects:</p>
        </div>
        <div class="container d-flex gap-4 mt-4">
            <div class="flex-1">
                <p class="text-red fw-semibold">Completed Projects</p>
                <ul>
                    <li>
                        Reduce Energy Use
                        <ul>
                            <li>Replace pool covers</li>
                            <li>Install pool motor variable-frequency drive</li>
                        </ul>
                    </li>
                    <li>
                        Increase Community Access & Use
                        <ul>
                            <li>Installed basketball court at WLES</li>
                            <li>Purchase spectator bleachers for swim team meets</li>
                        </ul>
                    </li>
                    <li>
                        Repair & Maintain Facilities
                        <ul>
                            <li>Repaired elevator</li>
                            <li>Replaced air duct system</li>
                            <li>Drained and replaced pool water</li>
                            <li>Replaced baseball & softball field dugouts</li>
                            <li>Purchased field maintenance vehicle</li>
                            <li>Replaced pool heater</li>
                            <li>Replaced entire pool filtration system</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <%= image_tag("completed_projects.png", alt: "Completed Projects") %>
            </div>
        </div>
        <div class="container d-flex gap-4 mt-5">
            <div class="flex-1">
                <%= image_tag("ongoing_projects.png", alt: "Ongoing Projects") %>
            </div>
            <div class="flex-1">
                <p class="text-red fw-semibold">Ongoing Projects</p>
                <ul>
                    <li>
                        Increase Community Access & Use
                        <ul>
                            <li>
                                Free Open Swim
                                <ul>
                                    <li>
                                        While the schedule was reduced replacing low-attended weeknight open
                                        swims with growing programs like high school and youth swim team,
                                        WLCR continues to host weekend open swims and a variety of free
                                        community events and programs at no-cost to residents such as Water
                                        Safety Day, Boo Bash and Splash, paddle boarding, bike ride groups, adult
                                        swim lessons and more.</li>
                                </ul>
                            </li>
                            <li>
                                Weight room access
                                <ul>
                                    <li>Increased public access to current high school weight room through Trojan Fit Club classes.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Repair & Maintain Facilities
                        <ul>
                            <li>Replacing pool starting blocks - completed May 2024</li>
                            <li>Repairing pool deck tile as needed</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>  
    <div class="primary-bg text-white py-4_5">
        <div class="container">
            <h2 class="text-white">Future Projects</h2>
            <div class="d-flex gap-4">
                <div class="flex-1">
                    <ul class="mb-0">
                        <li>
                            Increase Community Access & Use
                            <ul>
                                <li>
                                    While the original intent was to install lighted basketball courts at Jennings
                                    Athletic Complex & Park, in an effort to diversify recreation options and meet
                                    the community needs, we will be seeking community input on what our next steps should be.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <ul class="mb-0">
                        <li>
                            Repair & Maintain Facilities
                            <ul>
                                <li>Jennings walking track renovation: TBD</li>
                                <li>Film tower demolition: Spring/Summer 2024</li>
                            </ul>
                        </li>
                        <li>
                            Baseball & Softball Field Fencing Repair & Replacement: TBD
                        </li>
                        <li>
                            Pool dehumidification unit replacement: TBD
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn-white py-3">
                    <%= link_to "Community Survey Coming Soon!", "https://www.wlps.net/bond-updates/#about-sinking-fund", class:"text-white ff-ap", target: "_blank" %>
                </button>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="text-center">
                <%= image_tag("wlcr_logos.png", alt: "WCLR Logos", class: "origin") %>
            </div>
            <h2 class="text-center text-black mt-5 mb-4">Community Feedback</h2>
            <div class="d-flex gap-4">
                <div class="flex-1">
                    <p>
                        "As a person who has been going to the pool from the beginning, I've appreciated seeing the
                        work done to fix and upkeep the facility. As an older person dealing with arthritis, the use of the
                        pool has kept me able to move and do things easier. When my now adult grandchildren were
                        learning to swim, the pool made it easier than the lake, but gave them an essential skill to be
                        safer when they did swim in the lake. For the older folks, the pool is important for lap
                        swimmers and water exercisers. It can also be a place to have family fun together. So all ages
                        can be blessed by using the pool in many ways."
                    </p>
                    <p class="text-center mb-0">- Nancy Reichenbach</p>
                </div>
                <div class="flex-1">
                    <p>
                        As an elderly exercise fitness enthusiast, I really enjoy the pool! The facility is well taken care
                        of and the guards are quite helpful. Thanks for making this available to the community, it's a tremendous resource!
                    </p>
                    <p class="text-center mb-0">- Ed Wojtys</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="primary-btn">
                    <%= link_to "Provide Community Feedback", "#community_feedback_form", class:"text-white" %>
                </button>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black text-center mb-4">Gallery</h2>
            <div id="imageGallery2" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner text-center">
                    <% gallery_images_2.each_with_index do |img, idx| %>
                        <div class="carousel-item <%= 'active' if idx.zero? %>">
                            <%= image_tag img, alt: File.basename(img, '.*').tr('_-', ' ').capitalize, class: "origin" %>
                        </div>
                    <% end %>
                </div>

                <button class="carousel-control-prev" type="button" data-target="#imageGallery2" data-slide-to="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                        <%= image_tag("prev.png", alt: "Previous", class: "origin") %>
                    </span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#imageGallery2" data-slide-to="next">
                    <span class="carousel-next-icon" aria-hidden="true">
                        <%= image_tag("next.png", alt: "Next", class: "origin") %>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div id="community_feedback_form" class="py-4_5">
        <div class="container">
            <h2 class="text-center text-black">WLPS Millage Contact Form</h2>
            <p class="text-center">
                If you have any questions, suggestions, or general comments about the Sinking Fund or WLCR Millage,<br>
                please use the form below to contact WLPS directly. Thank you!
            </p>
        </div>
    </div>
</div>
