<% content_for :title, "Whitmore Lake Public Schools Family Resources" %>

<div class="departments family_resources">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Departments</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <button class="link_btn py-3">
                <%= link_to "Facilities", "/facilities", class:"text-white ff-b" %>
            </button>
            <button class="link_btn py-3">
                <%= link_to "Food Service", "/food-service", class:"text-white ff-b" %>
            </button>
            <button class="link_btn py-3">
                <%= link_to "Kids Club", "/kids-club", class:"text-white ff-b" %>
            </button>
            <button class="link_btn py-3">
                <%= link_to "Special Education", "/special-education", class:"text-white ff-b" %>
            </button>
            <button class="link_btn py-3">
                <%= link_to "Technology", "http://wlpstech.weebly.com/", class:"text-white ff-b", target: "_blank" %>
            </button>
            <button class="link_btn py-3">
                <%= link_to "Transportation", "/transportation", class:"text-white ff-b" %>
            </button>
        </div>
    </div>
    <div class="facility_rentals py-4">
        <div class="container">
            <h1><span>Family Food & Nutrition Resources</span><span class="text-black"> - Whitmore Lake Public Schools</span></h1>
            <p>There are great resources available to keep your family healthy and well-fed. Below you will find a list of the top resources to reference for any food or nutrition information.</p>
            <div class="d-flex gap-5">            
                <a href="https://www.dole.com/" target="_blank"><%= image_tag("dole.png", alt: "Dole", class:"origin") %></a>
                <a href="https://www.usda.gov/" target="_blank"><%= image_tag("usda.png", alt: "USDA", class:"origin") %></a>
                <a href="https://www.fda.gov/" target="_blank"><%= image_tag("fda.png", alt: "FDA", class:"origin") %></a>
                <a href="https://www.michiganapples.com/" target="_blank"><%= image_tag("michigan-apples.png", alt: "Michiga Apples", class:"origin") %></a>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container d-flex gap-5">
            <div class="text_container flex-1">
                <h2 class="text-black">Summer Feeding Program - Free Meals for Students</h2>
                <p class="mb-0">The Summer Feeding Program exists to ensure children from lower-income families are able to have nutritious meals during the long summer break. To find out more about this program explore the links below.</p>
                <div class="pt-4">
                    <a href="https://www.mcgi.state.mi.us/schoolnutrition/" target="_blank"><%= image_tag("meet-up-eat-up.png", alt: "Meet Up Eat Up", class:"origin") %></a>
                </div>
            </div>

            <div class="image_container flex-1">
                <div class="right_img">
                    <%= image_tag("summer_feeding.png", alt: "Summer Feeding Program") %>
                </div>
            </div>
        </div>
    </div>

    <div class="rules_regulations py-4_5">
        <div class="container">
            <h2 class="text-black">Promoting Health & Wellness at WLPS</h2>
            <p class="mb-4">Whitmore Lake Public Schools is committed to providing healthy meals to all<br>
            of our students. The District is forming a Wellness Committee to evaluate and update current goals and school health policies.</p>
            <p>The Wellness Committee invites representatives from all school buildings,<br>
            parents/guardians, students, food service representatives, physical and health education teachers, and community members. The Board encourages community participation in the Wellness Committee. If you are interested in joining our Wellness Committee by emailing <a class="text-red" href="mailto:denise.kerrigan@wlps.net">denise.kerrigan@wlps.net.</a></p>
            <div class="d-flex gap-4_5">
                <% if @family_resources_pdfs.any? %>
                    <% @family_resources_pdfs.each do |pdf_doc| %>
                        <% if pdf_doc.pdf.attached? %>
                            <button class="rule_btn_2">
                                <%= link_to pdf_doc.title, rails_blob_path(pdf_doc.pdf, disposition: "attachment", only_path: true), class:"text-white", target: "_blank", rel: "noopener" %>
                            </button>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
