<% content_for :title, "2023 Operating Millage - Whitmore Lake Public Schools | Vote May 2, 2023" %>
<% content_for :description, "Learn about the 2023 Operating Millage for Whitmore Lake Public Schools. Vote on May 2 to reinstate the 18-mill rate, ensuring full state funding and maintaining essential school operations." %>

<div class="operating_millage">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Operating Millage</h2>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1 class="text-black text-center">The 2023 Operating Millage Will Be on the Ballot for a Special<br>May 2, 2023 Election</h1>
            <h2 class="text-black text-center">Click the button below to:</h2>
            <div class="green_check_list">
                <div>
                    <p>✅ Register to Vote</p>
                    <p>✅ View Sample Ballot</p>
                </div>
                <div>
                    <p>✅ Get Absentee Ballot</p>
                    <p>✅ Find Out Where to Vote</p>
                </div>
            </div>
            <div class="text-center mb-0">
                <a href="https://mvic.sos.state.mi.us/" class = "text-white" target="_blank">
                    <button class="btn_normal">Voter Information</button>
                </a>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">Operating Millage Lost Revenue</h2>
            <p>Due to the changes in property value, the current operating millage has eroded over time and will continue to do so. If it is not reinstated to the 18 mils for 10 years, WLPS faces the loss of over $400,000 over 5 years*.</p>
            <div class="text-center operating_millage_graph">
                <%= image_tag("operating_millage_graph.png", alt: "Operating Millage Graph", class: "origin w-md-full") %>
            </div>
            <p class="mb-0">*Based on an average headlee millage reduction fraction of 0.9863</p>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="d-flex gap-4_5 mobile-reverse align-items-center">
                <div class="text_container flex-1">
                    <p>At WLPS we strive to provide exceptional and personalized education to empower individuals to understand, contribute to, and succeed in a diverse, rapidly changing society.</p>
                    <p>Our Operating Millage is essential to us fulfilling our mission. In the State of Michigan, 18 mill Operating Millages are required by law for school districts to receive full per-student funding from the State.</p>
                </div>
                <div class="image_container flex-1 text-center">
                    <div class="right_img">
                        <%= image_tag("operating_millage_logo.png", alt: "Operating Millage Logo", class: "origin w-md-full") %>
                    </div>
                </div>
            </div>
            <h2>The Ask</h2>
            <p>We are asking WLPS district residents to vote on reinstating our operating millage to the full 18 mils for 10 years with a 3-mill hedge to mitigate tax erosion as property values change.</p>
            <p>A <b>YES</b> vote will will get us back to full-funding for 10 years.</p>
            <p class="mb-0">A No vote reduces state funding WLPS receives by over $400k over 5 years*</p>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h2 class="text-center">What You Need to Know</h2>
            <div class="d-flex gap-4_5">
                <div class="flex-1 know">
                    <%= image_tag("know_1.png", alt: "Know 1", class: "origin w-md-full") %>
                    <p class="fw-semibold mb-0">Primary residences are NOT TAXED with this 10-year millage. Only businesses and second homes/property are impacted.</p>
                </div>
                <div class="flex-1 know">
                    <%= image_tag("know_2.png", alt: "Know 2", class: "origin w-md-full") %>
                    <p class="fw-semibold mb-0">This millage pays for essential day-to-day operations from teacher salaries to building utilities. Without it, WLPS will lose over $400k in funding over 5 years*</p>
                </div>
                <div class="flex-1 know">
                    <%= image_tag("know_3.png", alt: "Know 3", class: "origin w-md-full") %>
                    <p class="fw-semibold mb-0">This is nothing new. The last time voters renewed an operating millage for WLPS was in 2016. However, that operating millage has eroded to 17.9485 and will continue to decrease as property values change. A yes vote will get WLPS back to an 18 mill millage-back to full funding for 10 years.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black text-center">The Alternative</h2>
            <p class="text-center">If the Trojan community decides to not approve the Operating Millage to mitigate the loss of $400k over 5 years, the likely outcome is cuts will need to be made to educational programs. Dollars from our general fund will be diverted away from the classroom to maintain operational expenses to make up for the reduced revenue.</p>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="d-flex gap-4_5 mobile-reverse align-items-center">
                <div class="text_container flex-1">
                    <h2 class="text-black">What's Next?</h2>
                    <p class="mb-0 fw-semibold">Learn more about the Operating Millage and spread the word:</p>
                    <ul>
                        <li><a href="" class="text-red text-decoration-underline" target="_blank">Download our Information Sheet</a> to share with family and friends.</li>
                        <li>Download our <a href="" class="text-red text-decoration-underline" target="_blank">Ballot Breakdown</a> Sheet</li>
                        <li>Invite your local friends and family to get out and vote on May 2</li>
                    </ul>
                </div>
                <div class="image_container flex-1 text-center">
                    <div class="right_img">
                        <%= image_tag("operating_millage_logo.png", alt: "Operating Millage Logo", class: "origin w-md-full") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4_5 primary-bg">
        <div class="container-sm">
            <h1 class="text-white text-center">#TrojanPride</h2>
            <p class="text-white fs-20 text-center">Every day is a great day to be a Trojan. With the support of our community, staff, students, and parents we are confident that will not change in the years to come.</p>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container-sm">
            <h2 class="text-black text-center">For Questions, Contact Us!</h2>
            <%= render 'contacts/form' %>
        </div>
    </div>
</div>
