<% content_for :title, "Special Education Services - Whitmore Lake Public Schools | Support & Resources" %>
<% content_for :description, "Explore Whitmore Lake Public Schools' Special Education programs and services. Learn about eligibility, individualized support, and Washtenaw ISD resources." %>

<div class="departments special-education">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Departments</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "departments_links_bar" %>
    </div>

    <div class="facility_rentals py-4_5">
        <div class="container d-flex align-items-center gap-4">
            <div class="flex-1">
                <h1><span>Special Education Services & Support</span><span class="text-black"> - Whitmore Lake Public Schools</span></h1>
                <p>The Department of Special Education at Whitmore Lake Public Schools strives to educate students in the most inclusive environment possible for each child, with ages ranging from birth to 26 years old. We pride ourselves in strong connections with families and carry our small community's values into the classroom where every child's unique strengths are honored. In addition to teaching the state curriculum, we help each child develop important life skills and encourage academic growth at their own rate. The Department of Special Education at WLPS also participates in mandated Child Find programs and provides services to non-public schools within our district. Overall, we're a family who respects differences, encourages growth, and celebrates one another.</p>
                <div class="mb-2">
                    <button class="rule_btn py-3 w-370">
                        <%= link_to "Special Education Programs & Services", "#special_education_programs", class:"text-white" %>
                    </button>
                </div>
                <div>
                    <button class="rule_btn py-3 w-370">
                        <%= link_to "Special Education Resources", "#special_education_resources", class:"text-white" %>
                    </button>
                </div>            
            </div>
            <div class="flex-1">
                <%= image_tag("se-logo.png", alt: "SE", class: "origin w-md-full") %>
            </div>
        </div>
    </div>

    <div class="rules_regulations py-4_5">
        <div class="container">
            <h2 class="text-black">Inclusive Special Education at Whitmore Lake Public Schools</h2>
            <p class="mb-3">With consideration of federal guidelines and state requirements, specific learning disability 
            eligibility is evaluated using a pattern of strengths and weaknesses. This method is based on the
            assessment and review of achievement scores as well as performance in a variety of academic
            areas, with documentation of a pattern of strengths in one or more areas as compared to other
            areas where the student demonstrates a pattern of significant academic weaknesses. Criteria
            for determining a Specific Learning Disability (SLD) for students in all buildings and all grades in
            the district and include the following:
            </p>
            <div class="d-flex gap-4_5 py-3">
                <div class="education text-center">
                    <%= image_tag("grade_level.png", alt: "Grade Level", class: "origin") %>
                </div>
                <div>
                    <p class="text-red fw-bold ff-opb">Grade Level Standards</p>
                    <p class="mb-0">
                        The student does not achieve adequately for the student's age or meet State-approved grade-level 
                        standards in one or more of the areas identified at 34CFR 300.309(a) (1) (i) when provided
                        with learning experiences and instruction appropriate for the student's age or State-approved
                        grade-level standards.
                    </p>
                </div>
            </div>
            <div class="d-flex gap-4_5 py-3">
                <div class="education text-center">
                    <%= image_tag("evaluations.png", alt: "Evaluations and Reevaluations", class: "origin") %>
                </div>
                <div>
                    <p class="text-red fw-bold ff-opb">Evaluations and Reevaluations</p>
                    <p class="mb-0">
                        The student exhibits a pattern of strengths and weaknesses in performance, achievement, or
                        both relative to age, State approved grade-level standards or intellectual development, which is
                        determined by the Multidisciplinary Evaluation Team to be relevant to the identification of SLD,
                        using appropriate assessments, consistent with the IDEA (Identification of Specific Learning
                        Disabilities) Evaluation Procedures and Additional Requirements for Evaluations and Reevaluations.
                    </p>
                </div>
            </div>
            <div class="d-flex gap-4_5 py-3">
                <div class="education text-center">
                    <%= image_tag("attendance.png", alt: "Attendance", class: "origin") %>
                </div>
                <div>
                    <p class="text-red fw-bold ff-opb">Attendance</p>
                    <p class="mb-0">
                        Attendance and exposure to appropriate educational opportunities will continue to be a factor of relevance.
                    </p>
                </div>
            </div>
            <div class="text-center special_education_learn_more">
                <p class="mb-0">To learn more about the Department of Special Education at WLPS, please contact Melissa Heuker, Director of Student Services,</p>
                <p>at Melissa.Heuker@wlps.net, or call 734-449-4464 ext. 5009.</p>
            </div>
        </div>
    </div>
    <div id="special_education_programs" class="mb-4 pb-3">
        <div class="container">
            <h2 class="text-black">Special Education Programs & Services at Whitmore Lake</h2>
            <p class="mb-0">
                Whitmore Lake Public Schools believes in balancing inclusion with the general population, and
                pull out support services to meet every student’s individual needs. The Individual with
                Disabilities Education Act (IDEA) is a federal law that guarantees children and youth with
                disabilities a Free, Appropriate Public Education (FAPE) in the Least Restrictive Environment
                (LRE). Not all programs and services will be provided for each student. An Individualized
                Education Planning Committee (IEPC) determines which programs and/or services are
                appropriate for each student
            </p>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <h2 class="container text-center text-black">Programs and/or services are provided to students who meet the following eligibility criteria:</h2>
        <div class="container-sm d-flex pt-3">
            <ul class="text-red fw-semibold flex-1 fs-20 lh-1_8">
                <li>Autistic Impaired</li>
                <li>Emotionally Impaired</li>
                <li>Hearing Impaired</li>
                <li>Learning Disabled</li>
                <li>Physically Impaired</li>
                <li>Otherwise Health Impaired</li>
                <li>Early Childhood Developmentally Delayed</li>
            </ul>
            <ul class="text-red fw-semibold flex-1 fs-20 lh-1_8">
                <li>Speech and Language Impaired</li>
                <li>Visually Impaired</li>
                <li>Traumatic Brain Injury</li>
                <li>Mildly Cognitive Impaired</li>
                <li>Moderately Cognitive Impaired</li>
                <li>Severely Cognitive Impaired</li>
                <li>Severely Multiply Impaired</li>
            </ul>
        </div>
    </div>
    <div class="py-4_5">
        <h2 class="container text-center text-black">Whitmore Lake provides the following programs and services in-district:</h2>
        <div class="container-sm d-flex pt-3">
            <ul class="text-red fw-semibold flex-1 fs-20 lh-1_8">
                <li>School-based Speech and Language Therapy</li>
                <li>School-based Occupational Therapy</li>
                <li>School-based Physical Therapy</li>
                <li>School-based Social Work</li>
            </ul>
            <ul class="text-red fw-semibold flex-1 fs-20 lh-1_8">
                <li>Teacher Consultation</li>
                <li>Early Childhood Special Education</li>
                <li>Resource Room</li>
                <li>Program for the Mildly Cognitively Impaired</li>
            </ul>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <h2 class="container text-center text-black">
            WLPS and Washtenaw Intermediate School District partner to<br>
            provide the following services to students in-district:
        </h2>
        <div class="container d-flex justify-content-between py-3 text-center">
            <div class="flex-1">
                <div>
                    <%= image_tag("hearing.png", alt: "Hearing impairment consultation", class: "origin") %>
                </div>
                <p class="text-red fs-20 mt-3 mb-0 ff-opb">Hearing impairment consultation</p>
            </div>
            <div class="flex-1">
                <div>
                    <%= image_tag("visual.png", alt: "Visual impairment consultation", class: "origin") %>
                </div>
                <p class="text-red fs-20 mt-3 mb-0 ff-opb">Visual impairment consultation</p>
            </div>
            <div class="flex-1">
                <div>
                    <%= image_tag("behavior_consult.png", alt: "Behavior consultation", class: "origin") %>
                </div>
                <p class="text-red fs-20 mt-3 mb-0 ff-opb">Behavior consultation</p>
            </div>
        </div>
        <div class="container text-center pt-4">
            <% if @special_education_pdfs.any? %>
                <% @special_education_pdfs.each do |pdf_doc| %>
                    <% if pdf_doc.pdf.attached? %>
                        <button class="btn_normal mb-0">
                            <%= link_to pdf_doc.title, rails_blob_path(pdf_doc.pdf, disposition: "inline", only_path: true), class:"text-white", target: "_blank", rel: "noopener" %>
                        </button>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="py-4_5">
        <h2 class="text-center text-black">WLPS and Washtenaw Intermediate School District partner to provide the<br>
        following services to students out-of-district:</h2>
        <div class="container-sm d-flex py-3">
            <ul class="text-red fw-semibold flex-1 fs-20 lh-1_8">
                <li>Moderately/severely cognitive impairment</li>
                <li>Severely multiply impaired</li>
            </ul>
            <ul class="text-red fw-semibold flex-1 fs-20 lh-1_8">
                <li>Severely emotional impaired</li>
                <li>Young adult</li>
            </ul>
        </div>
        <div class="text-center">
            <p class="mb-0">To learn more about the Department of Special Education at WLPS, please contact Melissa Heuker, Director of Student Services,</p>
            <p>at Melissa.Heuker@wlps.net, or call 734-449-4464 ext. 5009.</p>
        </div>
    </div>
    <div id="special_education_resources" class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">Partnering with Washtenaw ISD for Special Education Resources</h2>
            <p class="mb-0">
                As the parent or guardian of a student participating in a special education program or service at
                Whitmore Lake Public Schools, you can find beneficial information regarding special education
                via these Washtenaw Intermediate School District resources.
            </p>
            <div class="text-center mt-5 pt-4">
                <h2>Important Special Education Services in Washtenaw County</h2>
                <p class="mb-0">Click the links below to learn more about each service.</p>
            </div>
            <div class="d-flex gap-4_5 mt-3">
                <div class="flex-1">
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Implementing Services</p>
                        <p class="mb-2">The Washtenaw ISD Special Education Department directly implements services for approximately 300 students with significant and low-incidence disabilities from birth to 26 years old, and court-involved youth.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/special-education-services/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Transition Service</p>
                        <p class="mb-2">Young adults often benefit from transition services from the school, ISD, or other community agencies.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/special-education-services/transition-services/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Assistive Technology</p>
                        <p class="mb-2">Public school districts in Washtenaw County have adopted a common process for considering the need for assistive technology.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/administrative-departments/special-education/instruction--assessment/assistive-technology/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Parent Advisory Committee</p>
                        <p class="mb-2">Washtenaw ISD hosts a Parent Advisory Committee (PAC) every month.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/administrative-departments/special-education/resources/parent-advisory-committee-pac/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Parent Handbook</p>
                        <p class="mb-2">The PAC has published a Parent Handbook and Procedural Safeguards Notice.</p>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Resources</p>
                        <p class="mb-2">Washtenaw ISD hosts a Parent Advisory Committee (PAC) every month.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/administrative-departments/special-education/resources/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Medicaid School Based Services</p>
                        <p class="mb-2">In Michigan, the Medicaid School Based Services program provides partial reimbursement for services such as occupational therapy, physical therapy, speech therapy, psychological services, social work services, orientation and mobility services, transportation, nursing services, case management and assistive technology services.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/special-education-services/health-services/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">Early On/Early Intervention</p>
                        <p class="mb-2">Early On is the State of Michigan Early Intervention Program for children age 0-3.</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-schools-programs/early-childhood/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                    <div class="mt-4">
                        <p class="text-red ff-opb mb-2">MDE Alternate Assessments</p>
                        <p class="mb-2">The Interactive Decision-Making Tool helps Individualized Education Program (IEP) teams determine if a student should take the general (M-STEP/MME) or alternate assessment (MI-Access).</p>
                        <button class="rule_btn py-3 w-270">
                            <%= link_to "More Information", "https://www.washtenawisd.org/our-services/instruction/assessment/", class:"text-white", target: "_blank" %>
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <p class="mb-0">To learn more about the Department of Special Education at WLPS, please contact Melissa Heuker, Director of Student Services,</p>
                <p>at Melissa.Heuker@wlps.net, or call 734-449-4464 ext. 5009.</p>
            </div>        
        </div>
    </div>
</div>

