<% content_for :title, "Staff Resources - Whitmore Lake Public Schools | Employee Portal" %>
<% content_for :description, "Access essential resources and information for Whitmore Lake Public Schools staff. Log in to the WLPS employee portal for updates, tools, and support." %>

<div class="staff_resources text-black">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Staff Resources</h2>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1>WLPS<span class="text-black"> Staff Resources</span></h1>
            <p>See below for important resources and information for WLPS staff.</p>
            <div class="staff_resources_list">
                <div class="staff_resource text-center">
                    <%= image_tag 'red_rover.png', alt: 'Red Rover', class: 'origin' %>
                    <a href="https://www.redroverk12.com/" class="text-decoration-underline mb-0 fw-semibold color-normal" target="_blank">Red Rover</a>
                </div>
                <div class="staff_resource text-center">
                    <%= image_tag 'fmx_logo.png', alt: 'Facilities Management eXpress', class: 'origin' %>
                    <a href="https://wlps.gofmx.com/login" class="text-decoration-underline mb-0 fw-semibold color-normal" target="_blank">Facilities Management eXpress</a>
                </div>
                <div class="staff_resource text-center">
                    <%= image_tag 'esuite.png', alt: 'WLPS Employee eSuite', class: 'origin' %>
                    <a href="https://nwewlps.wash.k12.mi.us/Websites.HR.Portal/Default.aspx?ReturnUrl=%2FWebsites.HR.Portal%2F" class="text-decoration-underline mb-0 fw-semibold color-normal" target="_blank">WLPS Employee eSuite</a>
                </div>
                <div class="staff_resource text-center">
                    <%= image_tag 'wlfe.png', alt: 'WLFEE', class: 'origin' %>
                    <a href="http://wlfee.org/" class="text-decoration-underline mb-0 fw-semibold color-normal" target="_blank">WLFEE</a>
                </div>
                <div class="staff_resource text-center">
                    <%= image_tag 'gmail.png', alt: 'WLPS Employee Email', class: 'origin' %>
                    <a href="https://mail.google.com/" class="text-decoration-underline mb-0 fw-semibold color-normal" target="_blank">WLPS Employee Email</a>
                </div>
                <div class="staff_resource text-center">
                    <%= image_tag 'power_school.png', alt: 'Power School', class: 'origin' %>
                    <a href="https://ps.wlps.net/teachers/pw.html" class="text-decoration-underline mb-0 fw-semibold color-normal" target="_blank">Power School</a>
                </div>
            </div>
        </div>
    </div>
</div>
