<% content_for :title, "2024 Sinking Fund Proposal - Whitmore Lake Public Schools" %>
<% content_for :description, "Support the Whitmore Lake Public Schools 2024 Sinking Fund Proposal. Learn how this 10-year, 1.5-mill fund will address urgent facility repairs, safety upgrades, and HVAC improvements. Vote by November 5, 2024." %>

<div class="2024_bond">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">2024 Sinking Fund</h2>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="d-flex gap-4_5 align-items-center mb-4">
                <div class="image_container flex-1">
                    <div class="right_img text-center">
                        <%= image_tag("sinking.png", alt: "2024 Sinking Fund", class: "origin w-md-full") %>
                    </div>
                </div>
                <div class="text_container text-center flex-1">
                    <h2 class="fs-96">VOTE</h2>
                    <h2 class="fs-46 text-black">On or Before<br>November 5th, 2024</h2>
                </div>
            </div>
            <h1><span class="text-black">Register to Vote on the WLPS 2024 Bond Proposal</h1>
            <p class="mb-0">Visit <a href="https://mvic.sos.state.mi.us/" class="text-red text-decoration-underline">www.michigan.gov/vote</a> to register to vote online. The last day to register by mail to participate in the November 5th, 2024 election is October 21st, 2024. You may also register at any time up to 8 p.m. on Election Day at your city or township clerk's office with proof of residency. For assistance in obtaining the address of your local clerk, visit <a href="https://mvic.sos.state.mi.us/" class="text-red text-decoration-underline">www.michigan.gov/vote</a>.</p>
            <div class="bond_btns">
                <a href="https://mvic.sos.state.mi.us/Voter/Index" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Where Do I Vote?</button>
                </a>
                <a href="" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">View Ballot Proposal</button>
                </a>
                <a href="#" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">View Sample Ballot</button>
                </a>
                <a href="https://mvic.sos.state.mi.us/Home/VoteAtHome/?fbclid=IwZXh0bgNhZW0CMTAAAR2T2q8Fy8h33hWjlSxMv0kKdl37UFhuJyp-06hjGagkMbaum7aMQw0xquo_aem_ASk1FfmMgLn6Ct9U3mii1TqjSEv9Ct4sT9P9SoT_UJgm3VsJ5Uz4WzDmeDVaK2x6TVZn7aanA0SXB-Q6P9qltzwv#online" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Vote Absente</button>
                </a>
            </div>
            <h2 class="text-center mb-0">The Process & The Need</h2>
            <h2 class="text-center text-black">Whitmore Lake Public Schools Listened to Community Feedback</h2>
            <p>The 2024 Bond Proposal did not pass in the August 2024 election. Our facilities are still in need of major repairs that cannot be made with the current funding available to the district making providing a warm, safe and dry learning environment more difficult each day.</p>
            <p class="mb-0">Since August 1, 2024 the following facility issues have impacted the school day:</p>
            <ul>
                <li>Broken air conditioning in Whitmore Lake Elementary School Cafeteria.</li>
                <li>Three classrooms in Whitmore Lake Elementary School were cleaned for mold remediation due to HVAC issues.</li>
                <li>Three classrooms at the Main Street Campus were evacuated due to flooding.</li>
            </ul>
            <p class="mb-0">Given these ongoing challenges and the community feedback on the bond, our Board of Education voted to place a new Sinking Fund proposal on the November 5, 2024 ballot. It is a lower tax for fewer years with a smaller scope addressing just the urgent needs. Compared to the August bond proposal, the proposed 2024 Sinking Fund will result in less taxes and less impact on community members while giving WLPS the ability to address some of the highest needs in the district over the next 10 years.</p>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">The Ask</h2>
            <p>WLPS is asking the Whitmore Lake community to vote on Tuesday, November 5th, on a 10-year, 1.5 mill Sinking Fund that would generate approximately $1 million annually. Levied on a house with a taxable value of $175,000, 1.5 mills is $262 a year or $21.88 a month.</p>
            <div class="tax_table text-center">
                <table class="mb-0">
                    <thead>
                        <tr>
                            <th>Taxable Value</th>
                            <th>Annual 1.5 mils Cost</th>
                            <th>Monthly 1.5 mils Cost</th>
                        </tr>
                    </thead>
                    <tbody class="fw-bold">
                        <tr>
                            <td>$125,000</td>
                            <td>$188</td>
                            <td>$15.6</td>
                        </tr>
                        <tr>
                            <td>$150,000</td>
                            <td>$225</td>
                            <td>$18.75</td>
                        </tr>
                        <tr>
                            <td>$175,000</td>
                            <td>$262</td>
                            <td>$21.88</td>
                        </tr>
                        <tr>
                            <td>$200,000</td>
                            <td>$300</td>
                            <td>$25</td>
                        </tr>
                </table>                
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h2 class="text-black mb-0 text-center">The Plan</h2>
            <div class="d-flex gap-4_5 accomplishment">
                <div class="image_container flex-1">
                    <div class="right_img">
                        <%= image_tag("wles_entrance.png", alt: "WLES Entrance") %>
                    </div>
                </div>
                <div class="text_container flex-1">
                    <h2 class="text-black">The funds will be used for:</h2>
                    <ul>
                        <li class="mb-2">
                            HVAC & Lighting Systems
                            <ul>
                                <li>Install a new district-wide HVAC control system. Current systems are only partially working.</li>
                                <li>Replace and repair select univents, the main source of heating/cooling/ventilation in classrooms.</li>
                                <li>Upgrade to energy-efficient lighting.</li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Safety & Security Enhancements
                            <ul>
                                <li>Reconfigure the Elementary School entrance to improve security.</li>
                                <li>Improve exterior entrance security at all campuses.</li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Parking Lots & Curbs
                            <ul>
                                <li>Replace parking lots, sidewalks, and curbing at Whitmore Lake Elementary School and Main Street Campus</li>
                                <li>Repair select areas at Whitmore Lake Middle & High School</li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Ongoing Repairs & Buses
                            <ul>
                                <li>Address other critical issues as they arise, based on our district-wide Facility Assessment.</li>
                                <li>Purchase new buses as needed.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="mb-0 ff-opb">What is the difference between a Bond and a Sinking Fund?</p>
            <p>Unlike a bond, which is a large loan the district can use right away to make a significantly positive impact quickly, a Sinking Fund provides a set amount of revenue each year to chip away at the list slowly. It is more affordable for the community since there are no interest payments.</p>
            <p class="mb-0 ff-opb">What will happen to the current Sinking Fund?</p>
            <p>The current 0.9458 mil sinking fund is essential to maintaining the district technology replacement plan and is earmarked to make necessary facility repairs not included in the scope of work for the 2024 Sinking Fund. It will be up for renewal in 2027.</p>
            <p class="mb-0 ff-opb">WLPS Fiscal Stability & Responsibility</p>
            <div class="mt-3 text-center mb-5">
                <a href="/transparency-reporting" class = "text-white">
                    <button class="btn_normal">Annual Budget Reports</button>
                </a>
            </div>
            <p class="mb-0">We have efficiently leveraged our previous Sinking Fund to meet student and staff technology needs and make essential facility repairs. With this new Sinking Fund, we would continue to invest strategically in our school's infrastructure, to meet our goal of providing our students and staff, minimally, with learning environments that are consistently warm, safe, and dry.</p>
            <div class="text-center py-4_5">
                <%= image_tag("5_year_avg.png", alt: "5-Year Projection Average", class: "origin w-md-full") %>
            </div>
            <p class="text-center">WLPS has consistently experienced an increase in enrollment in early childhood programs (141% increase) and in elementary-aged students (15% increase) since Fall 2021. An independent enrollment projection estimates a 20% increase in K-12 over the next 5 years. To better serve our current students and to prepare for future growth, we need to address key issues now.</p>
            <div class="bond_btns_2">
                <a href="https://assets-whitmore-lake.s3.amazonaws.com/website_pdfs/wlps_enrollment_statistics_projections_flyer%20%282%29.pdf" class = "text-white" target="_blank">
                    <button class="rule_btn_2 primary-bg py-3 text-white">View Enrollment Projections</button>
                </a>
                <a href="/bond-updates" class = "text-white">
                    <button class="rule_btn_2 primary-bg py-3 text-white">Sinking Fund & Recreation Millage Updates</button>
                </a>
            </div>
        </div>

        <div class="container">
            <h2 class="text-black text-center mt-4">Photo Gallery</h2>
            <div id="imageGallery3" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner text-center">
                    <% gallery_images_3.each_with_index do |img, idx| %>
                        <div class="carousel-item <%= 'active' if idx.zero? %>">
                            <%= image_tag img, alt: File.basename(img, '.*').tr('_-', ' ').capitalize, class: "origin gallery_img" %>
                        </div>
                    <% end %>
                </div>
                <ul class="carousel-indicators bonds">
                    <% gallery_images_3.each_with_index do |img, idx| %>
                        <li data-target="#imageGallery3" data-slide-to="<%= idx %>" class="<%= 'active' if idx.zero? %>"></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">Timeline for Implementation: WLPS 2024 Sinking Fund Proposal Projects</h2>
            <p>We will begin checking things off the list immediately working through the following phases:</p>
            <p class="mb-0 ff-bb">Phase 1:</p>
            <ul>
                <li>Continue to use Sinking Fund and Community Recreation Millage to complete immediate equipment and facility repairs and replacements.</li>
                <li>Begin HVAC and lighting repairs/replacement</li>
            </ul>
            <p class="mb-0 ff-bb">Phase 2:</p>
            <ul>
                <li>Reconfigure the Elementary School entrance to improve security</li>
                <li>Improve exterior entrance security at all campuses.</li>
            </ul>
            <p class="mb-0 ff-bb">Phase 3:</p>
            <ul>
                <li>Replace and repair parking lots, sidewalks, and curbing</li>
                <li>Purchase buses throughout as needed</li>
            </ul>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h2 class="text-black text-center">The Alternative Plan: What Happens if the 2024 Sinking Fund Proposal Doesn't Pass?</h2>
            <p class="text-center">If the $12 million Sinking Fund does not pass, our district will face significant challenges in maintaining our facilities while also maintaining high-quality staff and educational programming. The money needs to come from somewhere. If this funding source is not approved, our school community should expect cuts to our general fund budget to pay for repairs. This could mean staff cuts, lower wages, and program cuts. We will be forced to pit providing a warm, safe, and dry learning environment for our students against our goals of employing and retaining high-quality staff and expanding program opportunities.</p>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container-sm">
            <h2 class="text-black text-center">Questions? Attend the following Zoom Q&A Sessions</h2>
            <p class="text-center">Additionally, a BOE meeting will be held on October 21st at 7 PM in the WLHS Barb Huang Library. All are encouraged to attend.</p>
            <div class="bond_btns_2_wrap">
                <a href="https://us06web.zoom.us/j/86470431682" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: Sept. 30th, 12 PM</button>
                </a>
                <a href="https://us06web.zoom.us/j/88035168830" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: Oct. 16th, 12 PM</button>
                </a>
                <a href="https://us06web.zoom.us/j/86371516666" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: Oct. 16th, 7 PM</button>
                </a>
                <a href="https://us06web.zoom.us/j/82023539330" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: Oct. 28th, 12 PM</button>
                </a>
                <a href="https://us06web.zoom.us/j/82023539330" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: Oct. 28th, 7 PM</button>
                </a>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container-sm">
            <p class="text-center">Do you have questions about the 2024 Sinking Fund? Fill out the form below to send us your questions and we'll get back with you as soon as possible! Thank you!</p>
            <%= render 'funds/form' %>
        </div>
    </div>
</div>
