<% content_for :title, "Community Involvement - Whitmore Lake Public Schools, Michigan" %>
<% content_for :description, "Discover how Whitmore Lake Public Schools fosters community involvement through service projects, scholarships, and partnerships. Learn more about initiatives like Rake & Run, WLFEE grants, and Builders Club activities." %>

<div class="2024_bond">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">2024 Bond Proposal & Plan</h2>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="d-flex gap-4_5 align-items-center mb-4">
                <div class="image_container flex-1">
                    <div class="right_img text-center">
                        <%= image_tag("bond_logo_v2.png", alt: "2024 Bond", class: "origin w-md-full") %>
                    </div>
                </div>
                <div class="text_container text-center flex-1">
                    <h2 class="fs-96">VOTE</h2>
                    <h2 class="fs-46 text-black">On or Before<br>August 6th, 2024</h2>
                </div>
            </div>
            <h1><span class="text-black">Register to Vote on the WLPS 2024 Bond Proposal</h1>
            <p class="mb-0">Visit <a href="https://mvic.sos.state.mi.us/" class="text-red text-decoration-underline">www.michigan.gov/vote</a> to register to vote online. The last day to register by mail to participate in the August 6, 2024 election is July 22, 2024. You may also register at any time up to 8 p.m. on Election Day at your city or township clerk's office with proof of residency. For assistance in obtaining the address of your local clerk, visit <a href="https://mvic.sos.state.mi.us/" class="text-red text-decoration-underline">www.michigan.gov/vote</a>.</p>
            <div class="bond_btns">
                <a href="https://mvic.sos.state.mi.us/Voter/Index" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Where Do I Vote?</button>
                </a>
                <a href="" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">View Ballot Proposal</button>
                </a>
                <a href="#" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">View Sample Ballot</button>
                </a>
                <a href="https://mvic.sos.state.mi.us/Home/VoteAtHome/?fbclid=IwZXh0bgNhZW0CMTAAAR2T2q8Fy8h33hWjlSxMv0kKdl37UFhuJyp-06hjGagkMbaum7aMQw0xquo_aem_ASk1FfmMgLn6Ct9U3mii1TqjSEv9Ct4sT9P9SoT_UJgm3VsJ5Uz4WzDmeDVaK2x6TVZn7aanA0SXB-Q6P9qltzwv#online" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Vote Absente</button>
                </a>
            </div>
            <h2 class="text-center mb-0">The Process</h2>
            <h2 class="text-center text-black">Whitmore Lake Public Schools Listened to Community Feedback</h2>
            <p>Last year, we invited an architectural firm to perform a thorough district-wide facility assessment. With buildings aged 18, 34, and nearly 70 years, we expected a lengthy list of needs. Despite the responsible use of our Sinking Fund for technology, maintenance, safety upgrades, and essential repairs, our facilities' needs have outgrown our resources.</p>
            <p>The facility assessment identified well over $80 million in potential repairs and replacements. Our Board of Education went to work with district leadership and identified the highest priorities. It would require a 3-mill bond to complete everything on the priority to-do list.</p>
            <div class="text-center mb-4">
                <div class="desktop_only text-center">
                    <%= image_tag("process.png", alt: "Process", class: "origin") %>
                </div>
                <div class="mobile_only text-center">
                    <%= image_tag("process_small.png", alt: "Process", class: "w-100") %>
                </div>
            </div>
            <p>We presented a 3-mil proposal to our community seeking input through surveys completed by a professional research firm and a steering committee. The response? A majority of community members support the school. They believe we are doing good work and managing finances responsibly while providing a high-quality education. They recognized we need more funding. But they also indicated that 3 mills was too big of an ask.</p>
            <p>Taking the feedback seriously, we've re-evaluated and trimmed our proposal. By leveraging energy bonds, technology grants, and re-prioritizing, we've crafted a comprehensive plan that could improve the overall quality of our school district. It safeguards our community's investment today while setting the stage for future learning. We are looking forward to sharing information about the potential plan with our community.</p>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">The Ask</h2>
            <p>WLPS is asking the Whitmore Lake community to vote on Tuesday, August 6, on a bond proposal that, if approved, would provide approximately $53.5 million.</p>
            <p><b>The funds will be used for:</b></p>
            <div class="fund_usage">
                <div class="fund_icon"><%= image_tag("safety.svg", alt: "Safety and Security", class: "origin") %></div>
                <p class="mb-0">Safety & Security Enhancements - District-Wide ($5.5 million)</p>
            </div>
            <div class="fund_usage">
                <div class="fund_icon"><%= image_tag("upgrade.svg", alt: "Upgrades to Aging HVAC", class: "origin") %></div>
                <p class="mb-0">Upgrades to Aging HVAC, Infrastructure & Mechanicals- District-Wide ($30 million)</p>
            </div>
            <div class="fund_usage">
                <div class="fund_icon"><%= image_tag("transform.svg", alt: "Transformative Improvements", class: "origin") %></div>
                <p class="mb-0">Transformative Improvements at Whitmore Lake Elementary School ($12 million)</p>
            </div>
            <div class="fund_usage">
                <div class="fund_icon"><%= image_tag("target.svg", alt: "Targeted Improvements", class: "origin") %></div>
                <p class="mb-0">Targeted Improvements at Main Street Campus ($2.5 million) and Whitmore Lake High School ($3.5 million)</p>
            </div>
            <p>The 2024 bond millage would require a 2.55 mils increase for 22 years. Levied on a house with a taxable value of $175,000, 2.55 mills is $446 a year or $37 a month.</p>
            <div class="tax_table text-center">
                <table>
                    <thead>
                        <tr>
                            <th>Taxable Value</th>
                            <th>Annual 2.5 mils Cost</th>
                            <th>Monthly 1.5 mils Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$125,000</td>
                            <td>$319</td>
                            <td>$26</td>
                        </tr>
                        <tr>
                            <td>$150,000</td>
                            <td>$382.50</td>
                            <td>$32</td>
                        </tr>
                        <tr>
                            <td>$175,000</td>
                            <td>$446</td>
                            <td>$37</td>
                        </tr>
                        <tr>
                            <td>$200,000</td>
                            <td>$540</td>
                            <td>$42.50</td>
                        </tr>
                </table>
                <p>Use the tax calculator below to receive a personalized estimated rate based on the Taxable Value of your home.</p>
                <div>
                    <a href="https://pfmtaxcalc.com/WhitmoreLakePublicSchoolDistrict/" target= "_blank" class = "text-white">
                        <button class="btn_normal">Online Tax Calculator</button>
                    </a>
                </div>
            </div>
            <h2 class="text-black">2023 Michigan Homestead Property Tax Credit</h2>
            <p>Households that pay homestead property taxes greater than 3.2% of their annual income may be eligible for Michigan's Homestead Property Tax Credit. Eligible households may deduct up to 60% (up to 100% for senior citizens, please see the senior credit table below) of the millage increase cost up to a $1,700 Homestead Tax Credit limit. The eligibility for the credit begins to decrease after household income exceeds $58,301 and ends completely after the household income exceeds $67,301. Please see below the general reduction table and senior credit table below.</p>
            <div class="tax_credit">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">General Credit Reduction</th>
                        </tr>
                        <tr>
                            <td>Resources</td>
                            <td>% of credit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$58,300</td>
                            <td>100.00%</td>
                        </tr>
                        <tr>
                            <td>$58,301</td>
                            <td>90.00%</td>
                        </tr>
                        <tr>
                            <td>$59,301</td>
                            <td>80.00%</td>
                        </tr>
                        <tr>
                            <td>$60,301</td>
                            <td>70.00%</td>
                        </tr>
                        <tr>
                            <td>$61,301</td>
                            <td>60.00%</td>
                        </tr>
                        <tr>
                            <td>$62,301</td>
                            <td>50.00%</td>
                        </tr>
                        <tr>
                            <td>$63,301</td>
                            <td>40.00%</td>
                        </tr>
                        <tr>
                            <td>$64,301</td>
                            <td>30.00%</td>
                        </tr>
                        <tr>
                            <td>$65,301</td>
                            <td>20.00%</td>
                        </tr>
                        <tr>
                            <td>$66,301</td>
                            <td>10.00%</td>
                        </tr>
                        <tr>
                            <td>$67,301</td>
                            <td>0.00%</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Senior Credit</th>
                        </tr>
                        <tr>
                            <td>Resources</td>
                            <td>% of credit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$21,000</td>
                            <td>100.00%</td>
                        </tr>
                        <tr>
                            <td>$21,001</td>
                            <td>96%</td>
                        </tr>
                        <tr>
                            <td>$22,001</td>
                            <td>92%</td>
                        </tr>
                        <tr>
                            <td>$23,001</td>
                            <td>88%</td>
                        </tr>
                        <tr>
                            <td>$24,001</td>
                            <td>84%</td>
                        </tr>
                        <tr>
                            <td>$25,001</td>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <td>$26,001</td>
                            <td>76%</td>
                        </tr>
                        <tr>
                            <td>$27,001</td>
                            <td>72%</td>
                        </tr>
                        <tr>
                            <td>$28,001</td>
                            <td>68%</td>
                        </tr>
                        <tr>
                            <td>$29,001</td>
                            <td>64%</td>
                        </tr>
                        <tr>
                            <td>$30,001</td>
                            <td>60%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2 class="text-black">WLPS Fiscal Stability & Responsibility</h2>
            <p>At WLPS, our commitment to fiscal stability and responsibility has been unwavering. Our Board of Education and administration are dedicated to consistently maintaining a responsible fund balance, no matter the challenges that things like COVID or changes in school funding have thrown us. Since 2014 this prudent financial management has enabled us to achieve clean audits annually, ensuring that we will continue to staff our buildings appropriately and meet the evolving needs of our students swiftly. Our ability to maintain this level of fiscal health is critical to fulfilling our mission of providing an exceptional, personalized education to every child in our community.</p>
            <div class="mb-3">
                <a href="/tansparency-reporting" class = "text-white">
                    <button class="btn_normal">Annual Budget Reports</button>
                </a>
            </div>
            <p>We have also efficiently leveraged our Sinking Fund to meet student and staff technology needs and make essential facility repairs. With this bond, we would continue to invest wisely in our school's infrastructure, ensuring that our students have access to safe, modern, and resource-rich learning environments for decades to come.</p>
            <div>
                <a href="/bond-updates" class = "text-white">
                    <button class="btn_normal">Sinking Fund and Recreation Millage Updates</button>
                </a>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container text-center">
            <h2 class="text-black mb-0">The Plan</h2>
            <h2>The WLPS 20</h2>
            <div class="bond_video">
                <iframe
                    src="https://www.youtube.com/embed/YsbdWeXZq9w"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="width: 100%; height: 450px;">
                </iframe>
            </div>
            <p class="mt-3">The $53.5 million would be used to accomplish the following:</p>
        </div>
        <div class="container d-flex gap-4_5 accomplishment">
            <div class="image_container flex-1">
                <div class="right_img">
                    <%= image_tag("wles_entrance.png", alt: "WLES Entrance") %>
                </div>
            </div>
            <div class="text_container flex-1">
                <h2><span class="text-black">District-Wide:</span><span> Safety & Security | $5.5 Million</span></h2>
                <p class="mb-4">Priority number one. It is absolutely essential that we provide children in our community with a safe and secure place to learn. While we have many safety measures in place, we could do more.</p>
                <p class="mb-0">This bond would improve safety and security district-wide. We would install improved communication systems, improve the security of buildings and classrooms with reinforced doors and hardware, redesign Whitmore Lake Elementary School's entrance directing visitors to the main office before gaining entry to the building, purchase new buses with improved safety features, and install a secured bus lot.</p>
            </div>
        </div>
        <div class="container d-flex gap-4_5 accomplishment mobile-reverse">
            <div class="text_container flex-1">
                <h2><span class="text-black">District-Wide:</span><span> Aging Building HVAC, Infrastructure & Mechanicals | $30 Million</span></h2>
                <p class="mb-4">We know the impact high-quality school facilities have not only on learning but on property values and are dedicated to responsibly maintaining the community's investment. We want the quality of our facilities, curb to classroom, to reflect the quality of education we know is happening in our buildings each day. Unfortunately with buildings approaching 20, 35, and 70 years old, our current funding collected from the Sinking Fund cannot keep up with the necessary work to accomplish this goal.</p>
                <p class="mb-4">This bond would address critical issues district-wide to ensure our buildings are safe, energy-efficient, and worthy of Trojan Pride for decades to come. District-wide we would be replacing failing pavement in parking lots and sidewalks, making select roofing replacements; and replacing heating, cooling, temperature control, and electrical systems. You might not be able to see all the changes, but our students and staff would feel the impact if they confidently show up to learn in environments that are consistently warm, safe, and dry.</p>
                <p class="mb-0">For every $1 spent on school funding, property values increase by around $20. - National Bureau of Economic Research</p>
            </div>
            <div class="image_container flex-1">
                <div class="right_img text-center">
                    <%= image_tag("infrastructure_mechanics.png", alt: "Infrastructure & Mechanicals") %>
                </div>
            </div>
        </div>
        <div class="container d-flex gap-4_5 accomplishment">
            <div class="image_container flex-1">
                <div class="right_img">
                    <%= image_tag("wles_classroom.png", alt: "WLES Classroom") %>
                </div>
            </div>
            <div class="text_container flex-1">
                <h2><span class="text-black">Whitmore Lake Elementary School:</span><span> $12 Million</span></h2>
                <p class="mb-4">"Transforming Tomorrow" starts at Whitmore Lake Elementary School. Built in the early 90s, WLES, despite creative solutions and diligent maintenance, is showing signs of wear. Some of our teachers are using the same cabinets and countertops they used as students when they attended WLES. Our community deserves facilities that match the high-quality education we provide.</p>
                <p class="mb-0">This bond would transform WLES from top to bottom, inside out. Each classroom would be renovated with new carpet, cabinetry, ceiling tiles, whiteboards, paint and furniture. We would be outfitting specialized learning spaces dedicated to art, music, and STEM learning (science, technology, engineering, and math). Our library, cafeteria, and gymnasium would be updated with new flooring, furnishings, and paint. Our central office would be redesigned and renovated and our playground expanded to better serve our students and staff.</p>
            </div>
        </div>
        <div class="container d-flex gap-4_5 accomplishment mobile-reverse">
            <div class="text_container flex-1">
                <h2><span class="text-black">Main Street Campus:</span><span> Early Childhood Center & WLPS Montessori School & Daycare | $2.5 Million</span></h2>
                <p class="mb-4">As demand for early childhood education grows and Michigan's support for preschool program expansion increases, we face a pressing need for more space to provide vital programs like Great Start Readiness Preschool, Head Start, and infant and toddler care. Our current Main Street Campus facilities, including bathrooms and playgrounds, are not appropriately suited for our youngest learners.</p>
                <p class="mb-0">Through this bond, we would renovate the south side of our Main Street Campus which houses our early childhood programs, our Go Like the Wind Montessori preschool and infant and toddler care, and our Elementary Montessori Magnet program. This renovation would include remodeling bathrooms, the gym, and playgrounds, updating furnishings as needed, and adding outdoor learning spaces to better serve our littlest students and their unique needs.</p>
            </div>
            <div class="image_container flex-1">
                <div class="right_img text-center">
                    <%= image_tag("main_street_campus.png", alt: "Main Street Campus") %>
                </div>
            </div>
        </div>
        <div class="container d-flex gap-4_5 accomplishment">
            <div class="image_container flex-1">
                <div class="right_img">
                    <%= image_tag("wlhs_theater.png", alt: "WLHS Theater Stage") %>
                </div>
            </div>
            <div class="text_container flex-1">
                <h2><span class="text-black">Whitmore Lake High School:</span><span> $3.5 Million</span></h2>
                <p class="mb-4">Even though it's one of our newer buildings at 18 years old, our middle and high school still requires updates to maintain its quality.</p>
                <p class="mb-0">This bond would focus on four critical areas: athletics, theater, furnishings and flooring. It would enable us to update and replace athletic facilities, supporting our Trojan athletes and athletic programs. While our staff have secured grants to update lighting and sound in our theater, the bond would fund a new stage floor, seating repairs, an orchestra area, and new carpeting to support our vibrant theater and music programs. Additionally, we would replace worn flooring in high-traffic areas and update student desks and chairs throughout the building, ensuring our learning environments remain top-notch.</p>
            </div>
        </div>
        <div class="container">
            <h2 class="text-black text-center">Photo Gallery</h2>
            <div id="imageGallery3" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner text-center">
                    <% gallery_images_3.each_with_index do |img, idx| %>
                        <div class="carousel-item <%= 'active' if idx.zero? %>">
                            <%= image_tag img, alt: File.basename(img, '.*').tr('_-', ' ').capitalize, class: "origin gallery_img" %>
                        </div>
                    <% end %>
                </div>
                <ul class="carousel-indicators bonds">
                    <% gallery_images_3.each_with_index do |img, idx| %>
                        <li data-target="#imageGallery3" data-slide-to="<%= idx %>" class="<%= 'active' if idx.zero? %>"></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">Timeline for Implementation: WLPS 2024 Bond Proposal Projects</h2>
            <p>We will begin checking things off the list immediately in certain areas in Fall 2024. In order to have time to do the necessary design work and get the projects right, the larger projects will take place in 2026 and 2027.</p>
            <p class="mb-0 ff-b">Phase 1:</p>
            <ul>
                <li>Continue to use Sinking Fund and Community Recreation Millage to complete immediate equipment and facility repairs and replacements.</li>
                <li>Begin planning for building-level work (i.e. Elementary modernization, Main Street Campus repurposing, HS/MS theater and athletic sitework)</li>
            </ul>
            <p class="mb-0 ff-b">Phase 2:</p>
            <ul>
                <li>Infrastructure repairs/replacement (roofs, lighting, etc.)</li>
                <li>HVAC and Control repairs/replacement Sitework (fencing, drainage solutions, etc.)</li>
            </ul>
            <p class="mb-0 ff-b">Phase 3:</p>
            <ul>
                <li>Curb to classroom modernization of Whitmore Lake Elementary School</li>
            </ul>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h2 class="text-black text-center">The Alternative Plan: What Happens if the 2024 Bond Proposal Doesn't Pass?</h2>
            <p class="text-center">If the $53.5 million bond does not pass, our district will face significant challenges in maintaining and upgrading our facilities. Without this additional funding, we will struggle to replace aging infrastructure, leading to potential safety risks and less efficient learning environments. While we would continue to use our Sinking Fund as efficiently as possible, the lack of updates and repairs could also hinder our ability to provide the high-quality education our students deserve, impacting their overall learning experience and our community's future growth. This could ultimately result in increased costs down the line as maintenance is deferred and more comprehensive repairs are needed.</p>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black text-center">Learn More</h2>
            <div class="bond_btns_2">
                <a href="" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">FAQ Flyer</button>
                </a>
                <a href="https://us06web.zoom.us/j/87315180484?pwd=bi3o8VJduizdZaZ3boaFBsbCb2WUoS.1" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: June 25th. 7PM</button>
                </a>
                <a href="https://us06web.zoom.us/j/81590411249?pwd=MA1Q5cgZ1uLXiy56mmiZTU224SL8FD.1" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white">Zoom Q&A: July 23rd, 12 PM</button>
                </a>
            </div>
        </div>
    </div>
    <div id="community_feedback_form" class="py-4_5">
        <div class="container">
            <p class="text-center">Do you have questions about the 2024 Bond? Fill out the form below to send us your questions and we'll get back with you as soon as possible! Thank you!</p>
            <%= render 'bonds/form' %>
        </div>
    </div>
</div>
