<!-- app/views/enrollments/new.html.erb -->
<div class="container-sm">
  <%= form_with model: @enrollment, url: enrollment_path, scope: :enrollment_form do |f| %>
    <% if @enrollment.errors.any? %>
      <div class="errors">
        <h3>Please fix these:</h3>
        <ul><% @enrollment.errors.full_messages.each { |m| %><li><%= m %></li><% } %></ul>
      </div>
    <% end %>

    <div class="grid">
    <div class="d-flex gap-4_5 mb-3">
      <div class="flex-1">
        <%= f.label :first_name, class: "ff-bb text-black" %>
        <%= f.text_field :first_name, class: "w-100", required: true %>
      </div>
      <div class="flex-1">
        <%= f.label :last_name, class: "ff-bb text-black" %>
        <%= f.text_field :last_name, class: "w-100", required: true %>
      </div>
    </div>

    <div class="d-flex gap-4_5 mb-3">
      <div class="flex-1">
        <%= f.label :email, class: "ff-bb text-black" %>
        <%= f.email_field :email, class: "w-100", required: true %>
      </div>
      <div class="flex-1">
        <%= f.label :phone, class: "ff-bb text-black" %>
        <%= f.telephone_field :phone, class: "w-100", placeholder: "(optional)" %>
      </div>
    </div>

    <div class="d-flex gap-4_5 mb-3">
      <div class="flex-1">
        <%= f.label :address1, "Address 1", class: "ff-bb text-black" %>
        <%= f.text_field :address1, class: "w-100", required: true %>
      </div>
      <div class="flex-1">
        <%= f.label :address2, "Address 2", class: "ff-bb text-black" %>
        <%= f.text_field :address2, class: "w-100" %>
      </div>
    </div>

    <div class="d-flex gap-4_5 mb-3">
      <div class="flex-1">
        <%= f.label :city, class: "ff-bb text-black" %>
        <%= f.text_field :city, class: "w-100", required: true %>
      </div>
      <div class="flex-1">
        <%= f.label :state, class: "ff-bb text-black" %>
        <%= f.select :state, EnrollmentForm::US_STATES, { prompt: "State" }, required: true, class: "w-100" %>
      </div>
    </div>

    <div class="d-flex gap-4_5 mb-3">
      <div class="flex-1">
        <%= f.label :zip, "ZIP Code", class: "ff-bb text-black" %>
        <%= f.text_field :zip, required: true, class: "w-100" %>
      </div>
    </div>

    <div>
      <%= f.label "Comments", class: "ff-bb text-black" %>
      <%= f.text_area :message, rows: 6, required: true, class: "w-100" %>
    </div>
    </div>

    <!-- Honeypot -->
    <div style="display:none;">
      <label>Leave blank</label>
      <%= f.text_field :trap, value: "" %>
    </div>
    <div class="text-center mt-4">
      <%= f.submit "Submit", class: "rule_btn primary-bg py-3 text-white" %>
    </div>
  <% end %>
</div>
