<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "max-w-md" }) do |f| %>
  <div class="mb-5">
    <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="actions mb-5 text-center">
    <%= f.submit "Submit", class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 font-medium text-md w-full sm:w-auto px-16 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
<div class="text-center">
  <%= render "admin_users/shared/links" %>
</div>
