<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "global", "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="d-flex min-vh-100 admin_login">
      <!-- Left Image Column -->
      <div class="login-left" style="background-image: url('<%= asset_path("login_side.png") %>');"></div>

      <!-- Right Form Column -->
      <div class="login-right d-flex justify-content-center" style="background-image: url('<%= asset_path("login_bg.png") %>');">
        <!-- Logo at top -->
        <div>
          <div class="admin-login-logo">
            <%= image_tag("logo.png", alt: "Admin Logo", class: "h-12") %>
          </div>

          <!-- Centered form -->
          <div class="admin-login-form">
            <div class="w-full max-w-md">
              <h2 class="text-center">Hello! Please sign in below.</h2>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>